@{
    ViewBag.Title = "Home Page";
}
 <section class="container2">
    <header class="d-flex masthead2" style="background-color:yellow;">
      <div class="container my-auto text-center">
        <section class="py-4 py-xl-5">
          <div class="container">
            <div class="bg-light border rounded border-0 border-light d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5 effect8 minheight350">
              <div class="text-center text-lg-start py-3 py-lg-1">
                <h2 class="fw-bold mb-2">Find the perfect <em><span style="background-color: rgb(250, 248, 249);">photoshoot </span></em>for your occasion<br></h2>
                <button class="btn btn-primary w3-btn w3-border1 w3-tiny w3-round-xxlarge" type="button">Wedding</button>
                <button class="btn btn-primary w3-btn w3-border2 w3-tiny w3-round-xxlarge" type="button">Birthday</button>
                <button class="btn btn-primary w3-btn w3-border3 w3-tiny w3-round-xxlarge" type="button">Portraits</button>
                <button class="btn btn-primary w3-btn w3-border4 w3-tiny w3-round-xxlarge" type="button">Baby</button>
              </div>
              
            </div>
            
          </div>
        </section>
      </div>
    </header>
 
    
  </section>