.masthead2 {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 50%;
    padding-top: 5rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -- button-- */

.w3-btn {
    border: none;
    display: inline-block;
    padding: 3px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin: 8px;
}

.w3-border1 {
    border: 1px solid rgb(243, 9, 9) !important;
}

.w3-border2 {
    border: 1px solid rgb(9, 243, 60) !important;
}

.w3-border3 {
    border: 1px solid rgb(60, 9, 243) !important;
}

.w3-border4 {
    border: 1px solid rgb(243, 224, 9) !important;
}

.w3-tiny {
    font-size: 12px !important;
}

.w3-round-xxlarge {
    border-radius: 48px;
}

/* --Button on Image-- */

.container2 {
    position: relative;
}

    .container2 img {
        width: 100%;
        height: auto;
    }

    .container2 .btn2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #55555517;
        color: black;
        font-size: 16px;
        padding: 6px 16px;
        cursor: pointer;
        text-align: center;
        border: 1.5px solid rgb(0, 0, 0);
    }

        .container2 .btn2:hover {
            background-color: rgb(162, 227, 109);
        }

@media only screen and (max-width: 360px) {
    .container2 .btn2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #55555517;
        color: black;
        font-size: 8px;
        padding: 1px 10px;
        cursor: pointer;
        text-align: center;
        border: .3px solid rgb(0, 0, 0);
    }
}

@media only screen and (max-width: 360px) {
    .container2 .btn2:hover {
        background-color: rgb(162, 227, 109);
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
    .container2 .btn2 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #55555517;
        color: black;
        font-size: 12px;
        padding: 1px 10px;
        cursor: pointer;
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
    .container2 .btn2:hover {
        background-color: rgb(162, 227, 109);
    }
}

/* --rubber band animation -- */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

/* -margin padding- */

.mxe1 {
    margin: 1px;
}

.mxe2 {
    margin: 2px;
}

.mxe1 {
    margin: 2px;
}

.mxe1 {
    margin: 3px;
}

.mxe1 {
    margin: 4px;
}

.pxe1 {
    padding: 3px 6px;
    font-size: 14px !important;
}

/* ==================================================
 * Effect 1
 * =============================================== */

.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/* ==================================================
 * Effect 2
 * =============================================== */

.effect2 {
    position: relative;
}

    .effect2:before, .effect2:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    .effect2:after {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }

/* ==================================================
 * Effect 3
 * =============================================== */

.effect3 {
    position: relative;
}

    .effect3:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

/* ==================================================
 * Effect 4
 * =============================================== */

.effect4 {
    position: relative;
}

    .effect4:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        right: 10px;
        left: auto;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
    }

/* ==================================================
 * Effect 5
 * =============================================== */

.effect5 {
    position: relative;
}

    .effect5:before, .effect5:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 35px 20px #777;
        -moz-box-shadow: 0 35px 20px #777;
        box-shadow: 0 35px 20px #777;
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    .effect5:after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
    }

/* ==================================================
 * Effect 6
 * =============================================== */

.effect6 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

    .effect6:before, .effect6:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .effect6:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }

/* ==================================================
 * Effect 7
 * =============================================== */

.effect7 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

    .effect7:before, .effect7:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .effect7:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }

/* ==================================================
 * Effect 8
 * =============================================== */

.effect8 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 7px 8px 20px 1px rgb(223 25 25 / 65%), 20px 19px 20px 5px rgb(57 80 247 / 55%);
}

    .effect8:before, .effect8:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .effect8:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }

/* -- card-- */

.hero-section1 {
    align-items: flex-start;
    background-image: url("wave.jpg");
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section2 {
    align-items: flex-start;
    background-image: url("wavesvg.png");
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media (min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* --What Services we offer-- */

.card {
    list-style: none;
    position: relative;
    --bs-card-bg: #ffffff00;
}

    .card:before {
        content: '';
        display: block;
        width: 100%;
    }

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: rgb(255 255 255);
    font-size: 1.0rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.minheight350 {
    min-height: 250px;
}

/* --trusted by -- */

body {
    font-family: "Poppins", sans-serif;
}

.trusted {
    width: 80%;
    margin: 0 auto;
}

.trusted-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    align-items: center;
}

    .trusted-row img {
        width: 200px;
        margin: 5px 10px;
    }

@media (max-width: 1000px) {
    .trusted {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .trusted-row img {
        width: 100px;
        margin: 5px 10px;
    }
}

@media (max-width: 1000px) {
    .section-subtitle {
        width: 100%;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


.team-page-section {
    position: relative;
    padding-top: 70px;
}

    .team-page-section .team-block {
        margin-bottom: 60px;
    }

.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 65px;
}

    .sec-title .title {
        position: relative;
        font-size: 18px;
        color: #bd0000;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: capitalize;
    }

    .sec-title .separator {
        position: relative;
        width: 40px;
        margin-top: 16px !important;
    }

        .sec-title .separator:before {
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 10px;
            height: 2px;
            background-color: #ff9600;
        }

        .sec-title .separator:after {
            position: absolute;
            content: '';
            right: 0px;
            top: 0px;
            width: 10px;
            height: 2px;
            background-color: #ff9600;
        }

        .sec-title .separator span {
            position: absolute;
            left: 50%;
            top: -2px;
            width: 10px;
            height: 5px;
            margin-left: -5px;
            display: inline-block;
            background-color: #bd0000;
        }

    .sec-title h2 {
        position: relative;
        color: #222222;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2em;
        margin-top: 35px;
    }

    .sec-title .text {
        position: relative;
        font-size: 14px;
        line-height: 1.9em;
        color: #555555;
        margin-top: 10px;
    }

    .sec-title.centered .separator {
        margin: 0 auto !important;
        float: none !important;
    }

    .sec-title.centered {
        text-align: center !important;
    }

    .sec-title.light .title {
        color: #ffffff;
    }

    .sec-title.light h2 {
        color: #ffffff;
    }

    .sec-title.light .separator span {
        background-color: #ff9600;
    }

    .sec-title.light .separator:before,
    .sec-title.light .separator:after {
        background-color: #ffffff;
    }

.team-section {
    position: relative;
    padding: 80px 0px 60px;
}

    .team-section.style-two .pattern-layer {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .team-section .title-box {
        position: relative;
        text-align: center;
    }

        .team-section .title-box h2 {
            position: relative;
            color: #222222;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.3em;
            margin-bottom: 50px;
        }

            .team-section .title-box h2 span {
                color: #ff9600;
            }

.team-block {
    position: relative;
}

    .team-block .inner-box {
        position: relative;
        padding: 40px 70px 28px 0px;
    }

        .team-block .inner-box:before {
            position: absolute;
            content: '';
            right: 0px;
            top: 0px;
            left: 30px;
            bottom: 0px;
            border-radius: 10px;
            background-color: #f5f5f5;
            -webkit-transition: all 600ms ease;
            -moz-transition: all 600ms ease;
            -ms-transition: all 600ms ease;
            -o-transition: all 600ms ease;
            transition: all 600ms ease;
        }

        .team-block .inner-box::after {
            position: absolute;
            content: '';
            top: 0px;
            left: 70px;
            bottom: 0px;
            width: 0%;
            border-radius: 10px;
            -webkit-transition: all 600ms ease;
            -moz-transition: all 600ms ease;
            -ms-transition: all 600ms ease;
            -o-transition: all 600ms ease;
            transition: all 600ms ease;
            background-image: -ms-linear-gradient(top, #ffca08 0%, #f70067 100%);
            background-image: -moz-linear-gradient(top, #ffca08 0%, #f70067 100%);
            background-image: -o-linear-gradient(top, #ffca08 0%, #f70067 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffca08), color-stop(100, #f70067));
            background-image: -webkit-linear-gradient(top, #ffca08 0%, #f70067 100%);
            background-image: linear-gradient(to bottom, #ffca08 0%, #f70067 100%);
        }

        .team-block .inner-box:hover::after {
            width: 81%;
        }

        .team-block .inner-box .social-icons {
            position: absolute;
            right: 25px;
            top: 100px;
            z-index: 1;
        }

            .team-block .inner-box .social-icons li {
                position: relative;
                margin-bottom: 20px;
            }

                .team-block .inner-box .social-icons li a {
                    position: relative;
                    color: #e40000;
                    font-size: 18px;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                }

        .team-block .inner-box:hover .lower-content h3 a,
        .team-block .inner-box:hover .social-icons li a,
        .team-block .inner-box:hover .lower-content .designation {
            color: #ffffff;
        }

        .team-block .inner-box .image {
            position: relative;
            z-index: 1;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: inset 0px 0px 35px rgba(0,0,0,0.20);
        }

            .team-block .inner-box .image img {
                position: relative;
                width: 100%;
                display: block;
            }

        .team-block .inner-box .lower-content {
            position: relative;
            text-align: left;
            z-index: 1;
            padding: 30px 15px 0px 110px;
        }

            .team-block .inner-box .lower-content h3 {
                position: relative;
                color: #bd0000;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.3em;
            }

                .team-block .inner-box .lower-content h3 a {
                    position: relative;
                    color: #bd0000;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                }

            .team-block .inner-box .lower-content .designation {
                position: relative;
                margin-top: 5px;
                color: #777777;
                font-size: 14px;
            }

    .team-block.style-two .inner-box .lower-content h3 a,
    .team-block.style-two .inner-box .social-icons li a {
        color: #ff9600;
    }

    .team-block.style-two .inner-box:hover .lower-content h3 a,
    .team-block.style-two .inner-box:hover .social-icons li a {
        color: #ffffff;
    }

    .team-block.style-two .inner-box::after {
        background-image: -ms-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
        background-image: -moz-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
        background-image: -o-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFEB3C), color-stop(100, #ff9600));
        background-image: -webkit-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
        background-image: linear-gradient(to bottom, #FFEB3C 0%, #ff9600 100%);
    }


@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.our-team-head h1 {
    padding-left: 2%;
    color: #333;
    text-shadow: 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.10), 0 3px 5px rgba(0,0,0,.10), 0 5px 10px rgba(0,0,0,.10), 0 10px 10px rgba(0,0,0,.10);
}

.our-team-head h3 {
    margin: 10px;
    padding-left: 2%;
    font-size: 20pt;
    color: #333;
    text-shadow: 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.10), 0 3px 5px rgba(0,0,0,.10), 0 5px 10px rgba(0,0,0,.10), 0 10px 10px rgba(0,0,0,.10);
}
